<div class="overlay" (click)="onCloseModal()">
</div>
<div class="rules-modal">
  <div class="rules-modal__title">
    <h3>Rules</h3>
    <button class="sm:hidden" (click)="onCloseModal()"><img src="./assets/images/icon-close.svg" alt="close"></button>
  </div>
  <img src="./assets/images/image-rules-bonus.svg" alt="rules">
  <button class="hidden sm:inline-block sm:mt-36" (click)="onCloseModal()"><img class="sm:w-8"
                                                                                src="./assets/images/icon-close.svg"
                                                                                alt="close">
  </button>
</div>
